// Place all the styles related to the api/recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

button:focus {outline:0;}

.recipe-title {
    font-size: 35px;
    position: relative;

    letter-spacing: 0.4px;
    font-family: 'Nanum Myeongjo', serif;
    font-stretch: condensed;
    text-align: left;
}

.recipe-box {
    position: relative;
    width: 60%;
    left: 20%;
    top: 100px;
    padding-right: 15%;
}


.author-name {
    position: relative;
    top: 3px;
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
}

.separator-recipe {
    position: relative;
    top: 15px;
    border-bottom: 2px solid black;
    text-align: center;
}

.recipe-show {
    position: relative;
    top: 15px;
    display: flex;
    justify-content: space-between;
    font-family: nyt-cheltenham,Georgia,"Times New Roman",serif;
    line-height: 1.5;
}

.recipe-show > img {
    width: 60%;
    height: 100%;
}

.recipe-show > div {
    width: 38%;
}
.instructions {
    display: flex;
    justify-content: space-between;
    font-family: nyt-karnak-display-130124,nyt-stymie,Georgia,"Times New Roman",serif;    
    font-size: 12px;
    font-weight: bold;
}

.preparation {
    width: 70%;
}


.preparation > div {
    font-size: 16px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    line-height: 1.5;
}
.ingredient {
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
}

.ingredients {
    width: 28%;
    line-height: 2;
}

.carousel {
    // position: absolute;
    bottom: -130%;
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.buttons-pos {
    z-index: 9998;
    position: relative;
    

}

#next {
    z-index: 5999;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: grey;
    left: 440px;
    top: 138px;
}

#prev {
    z-index: 5999;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: grey;
    right: 440px;
    top: 138px;
}

#prev:hover, #next:hover {
    background-color: darkgrey;
}

.carousel-title {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    position: relative;
    left: 10px;
    top: 10px;
    max-width: 200px;
}

.author-name-c {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    text-align: left;
    position: relative;
    top: 19px;
    left: 10px;
    max-width: 200px;
    font-size: 12px;
}

.caro-container {
    background: white;
    border: 1px solid lightgrey;
    height: 280px;
    margin: 20px;
    position: relative;
    z-index: 0;
}

.caro-container:hover {
    box-shadow: 1px 1px 9px 3px lightgrey;
}

.cards-slider-wrapper {
    z-index: 0;
    left: 100%;
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 100px;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    .card {
        flex: 1;
        min-width: 100px;
        opacity: 1;
        transition: opacity 300ms linear;
    }
}

// .cards-slider.active-slide-1 #card-1 {
//     opacity: 1;
// }

// .cards-slider.active-slide-0 #card-0 {
//     opacity: 1;
// }

// .cards-slider.active-slide-2 #card-2 {
//     opacity: 1;
// }

// .cards-slider.active-slide-3 #card-3 {
//     opacity: 1;
// }

// .cards-slider.active-slide-4 #card-4 {
//     opacity: 1;
// }


.cards-slider {
    position: relative;
    max-width: 226px;
    margin: 0 auto;
}

.col {
    z-index: 9997;
  height: 454px;
  position: relative;
  bottom: 150px;
  &:before,
  &:after {
      content: '';
      display: block;
      width: 10%;
      height: 120%;
      background: linear-gradient(to right, rgba(255, 255, 255, 1) 0.01%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
  }
  &:after {
      left: auto;
      right: 0;
      background: linear-gradient(to left, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
  }
}



.outer-nav {
    height: 200%;
    overflow: hidden;

}
.main-header > h1 {
    font-family:  'Abril Fatface';
    font-size: 40px;
    text-align: center;
    z-index: 1;
    position: relative;
    
    
    width: 100%;
    height: 200px;
    color: black;
}

.main-header {
    // position: absolute;
    top: 95%;
    left: 28%;
}

.main-header > h4 {
    position: relative;
    text-align: center;
    bottom: 150px;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 13px;
    margin: 0;
    
}

.main-header > h3 {
    position: relative;
    font-family: 'Nanum Myeongjo', serif;
    text-decoration: none;
    font-size: 25px;
    font-weight: 100;
    text-align: left;
    bottom: 150px;
    left: 25%;
}

.main-header > h5 {
    position: relative;
    font-family: 'Nanum Myeongjo', serif;
    text-decoration: none;
    font-size: 25px;
    font-weight: 100;
    color: grey;
    bottom: 190px;
        left: 25%;


}

#separator-caro {
    position: relative;
    top: 20px;
    border-bottom: 4px solid black;
    width: 40%;
    margin: 0 auto;
}