// Place all the styles related to the api/recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.recipe-title {
    font-size: 35px;
    position: relative;

    letter-spacing: 0.4px;
    font-family: 'Nanum Myeongjo', serif;
    font-stretch: condensed;
    text-align: left;
}

.recipe-box {
    position: absolute;
    width: 70%;
    left: 25%;
    padding-right: 20%;
}


.author-name {
    position: relative;
    top: 3px;
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
}

.separator-recipe {
    position: relative;
    top: 15px;
    border-bottom: 2px solid black;
    text-align: center;
}

.recipe-show {
    position: relative;
    top: 15px;
    display: flex;
    justify-content: space-between;
    font-family: nyt-cheltenham,Georgia,"Times New Roman",serif;
    line-height: 1.5;
}

.recipe-show > img {
    width: 60%;
    height: 100%;
}

.recipe-show > div {
    width: 35%;
}
.instructions {
    display: flex;
    justify-content: space-between;
    font-family:  'Abril Fatface';
    font-size: 12px;
}

.preparation {
    width: 70%;
}


.preparation > div {
    font-size: 16px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    line-height: 1.5;
}
.ingredient {
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
}

.ingredients {
    width: 30%;
    line-height: 2;
}