// Place all the styles related to the api/saved_recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.saved-recipes {
    padding-top: 100px;
    padding-bottom: 200px;
    display: inline-block;
    position: relative;
    padding-left: 10%;
    min-height: 430px;
    padding-right: 70px;
    background-color: #F5F5F5;
    min-width: 100%;
}

.flex-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-right: 260px;
}

.saved-recipes > h2 {
    font-family: 'Yantramanav', sans-serif;
    position: relative;
    margin-bottom: 9px;
}

.saved-recipes > h4 {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 15px;
    font-weight: 100;
}

#saved-button {
    color: #e33d26;
    background-color: white;

    font-weight: 800;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    top: 0;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding: 12px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    right: 15px;
    font-size: 12px;
    width: 120px;
    padding-top: 16px;
    padding-left: 17px;
}

#saved-button:hover {
    background-color: 	#F0F0F0;
}


.recipe-box > div > button {
    background: #e33d26;
    color: white;
    border-radius: 3px;
    display: inline-block;
    height: 33px;
    width: 150px;
    padding-bottom: 5px;
    text-align: left;
    cursor: pointer;
}
.recipe-box > div > button:hover {
    background: #e65f51;
}
.recipe-box > div > button > img {
    position: relative;
    top: 5px;
    filter: brightness(200%);
}

#unsaved {
    width: 70px;
}


.saved-recipe-box > div {
    background-color: white;
    display: inline-block;
    position: relative;
    height: 250px;
    width: 250px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 900;
    font-size: 15px;
    border: 1px solid lightgrey;
}

.saved-recipe-box > div > a > h5 {
    padding-left: 8px;
}

.saved-outer-box:hover {
    box-shadow: 1px 1px 9px 3px lightgrey;
}

.saved-outer-box {
    margin: 20px;
}


.saved-recipe-box > div > button {
    position: absolute;
    padding-top: 10px;
    bottom: 1px;
    background-color: white;
    padding-right: 50px;
    cursor: pointer;
}

.saved-recipe-box > div > button> img:hover {
    border: 0.5px solid grey;
    filter: brightness(200%)
}


.saving > div {
    padding-top: 8px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 100;
    font-size: 13px;
    color: darkgoldenrod;
    cursor: pointer;
}