// Place all the styles related to the api/saved_recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.saved-recipes {
    padding-top: 100px;
    padding-bottom: 200px;

}

.saved-button {
    color: #e33d26;
    font-weight: 800;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    top: 0;
    background-color: white;
    background: none!important;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding: 12px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    right: 15px;
    font-size: 12px;
    width: 120px;
    padding-top: 16px;
    padding-left: 17px;
}