/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



html, body {



margin:0;

padding:0;



}


.splash {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  font-size: inherit;
  font-family: inherit;
}


.footer {
  position: absolute;
  bottom: -220%;
  width: 100%;
  height: 41%;
  background-color: black;
  color: white;
  overflow: hidden;
}

.footer > div {
  
  bottom: 22%;
  font-family: 'Nanum Myeongjo', serif;
  line-height: 1.5;
  font-size: 18px;
}

.footer > div, .footer > h1 {
  left: 10%;
  
}


.foot-label {
  font-family: 'Nanum Myeongjo', serif;
  width: 30%;
  font-size: 18px;
  position: relative;
  top: 10%;
  left: 15%;
}

.foo {
  top: 10%
}

.foot-label > h1 {
  font-family: nyt-franklin,Arial,Helvetica,sans-serif;
  font-size: 12px;
}


.flexer {
  height: 100%;
  width: 100%;
  
  display: flex;
  justify-content: space-around;
}

.learn {
  width: 35%;
  position: relative;
  left: 9%;
}

.learn > h1 {
  font-family: nyt-franklin,Arial,Helvetica,sans-serif;
  font-size: 12px;
}
.learn > div{
  position: relative;
  
  padding: 10px;
  color: white;
  font-family: nyt-franklin,Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 100;
}


.learn > h1 {
  position: relative;
  color: white;
  padding-bottom: 40px;
  padding-left: 10px;
}



